@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}

@section Stylesheets {
<link rel="stylesheet" href="~/css/register.css" />
}

<!-- Sign up form -->
<section class="signup">
	<div class="container">
		<div class="signup-content">
			<div class="signup-form">
				<h2 class="form-title">Sign up</h2>
				<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
					<div class="form-group">
						<input asp-for="Input.Name" class="form-control" aria-required="true" placeholder="Name" />
						<span asp-validation-for="Input.Name" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
						
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input asp-for="Input.Password" class="form-control" aria-required="true" placeholder="password" />
						
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input asp-for="Input.ConfirmPassword" class="form-control" aria-required="true" placeholder="confirmpassword" />
						
						<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
					</div>
					<div class="form-group form-button">
						<input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
					</div>
				</form>
			</div>
			<div class="signup-image">
				<figure><img src="~/img/signup-image.jpg" alt="sing up image"></figure>
			</div>
		</div>
	</div>
</section>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
