@model Category

<form asp-controller="Category" asp-action="Edit" method="post">
	ID:
	<input type="text" asp-for="Cat_Id" />
	<span class="text-danger" asp-validation-for="Cat_Id"></span>
	<br />
	Name:
	<input type="text" asp-for="Cat_Name" />
	<span class="text-danger" asp-validation-for="Cat_Name"></span>
	<br />
	Address:
	<textarea type="text" asp-for="Cat_Des"></textarea>
	<span class="text-danger" asp-validation-for="Cat_Des"></span>
	<br />
	<input type="submit" value="Submit">
</form>
@section scripts {
	<partial name="_ValidationScriptsPartial" />
}